#main-content {
    margin-left: 120px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.wrapper{
    margin-top: 40px;
}
.panel-heading {
    position: relative;
    height: 57px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    padding: 0 16px;
    background:#ddede0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    text-transform: uppercase;
    text-align: center;
}
.panel-default>.panel-heading {
    color: #FFFFFF ! important;
    background-color: #8B5C7E ! important;
    border-color: #ddede0 ! important;
    font-size: 20px;
}
.table>thead>tr>th {
    border-bottom: 1px solid #e1ab91 ! important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-bottom: 1px solid #e9e9e9 ! important;
    color: #000000;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td{
    font-size: 13px;
}
.table>thead>tr>th{
    font-size: 15px;
}
#btn-apply{
    padding-left: 20px;
}
.form-inline{
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 45px;
}
.form-control{
    margin-left: 10px;
}
.form-group{
    margin-left: 10px;
}
.pagination{
    padding-top: 10px;
}
.fa-eraser{
    color:green;
}
.fa-trash{
    color:red;
}