.gray-bg {
    background: #F1F1F1 !important;
}

.success {
    font-size: 50px;
    font-weight: bold;
}

.information {
    margin-top: 50px;
    font-size: 25px;
    margin-left: 50px;
}

table {
    margin-top: 20px;
    text-align: center;
}

.total {
    margin-top: 15px;
    float: right;
}

.thank-you {
    margin-left: 50px;
    margin-top: 80px;
    color: #761b18;
    font-size: 25px;
    font-style: italic;
}